

.sec{
    height: 100vh;
}

#sec2{
    height: 30vh;
    padding-top: 10vh;
}

#sec3{
    height: 40vh;
}

#sec4{
    height: 30vh;
    padding-top: 10vh;
}


.destaque {
    width: 100vh;
    height: 20vh;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
}

.destaque > p {
    width: 50vw;
    line-height: normal;
}

.card{
    margin-bottom: 15px;
}

.foto-galeria{
    padding: 15px;
}
